:host{
    font-family: sans-serif;
    border: 2px solid purple;
    margin: 2rem;
    padding: 1rem;
    display: block;
    width: 20rem;
    max-width: 100%;
}

form input[type='checkbox'] {
    
    color: purple;
    margin: 0;
    padding: 0;
    float: right;
    width: 20px;
    height: 20px;
}

form input {
    font: inherit;
    color: purple;
    padding: 0.15rem 0.5rem;
    margin-bottom: 0.5rem;

}
form input:focus,
form input:active,
form button:focus,
form input:active{
    outline: none;
    background-color: violet;

}

form button {
    
    
    margin-left: 1rem;
    border: 1px solid purple;
    background-color: white;
}
form button:disabled {
    background-color: #ccc;
    color: white;
    pointer-events: none;
}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
li{
    margin: 0.25rem 0;
    padding: 0.25rem;
    border: 1px solid rosybrown;
}
li:hover,
li:active{
    background: purple;
    color: white;
    cursor: pointer;
}

li span{
    max-width: 200px;
    text-align: left;
}
li button {
    
    color: purple;
    
    float: right;
}